@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container-core {
        @apply flex h-screen w-screen flex-col items-stretch;
    }

    .sidebar-core {
        @apply w-72 overflow-auto border border-border  p-0 pt-2 transition-all duration-200;
    }

    /* main container max height (100vh - height of main header) */
    .content-main {
        @apply flex max-h-[calc(100vh-(var(--header-height)))] flex-1 items-stretch justify-between rounded-md border-border;
    }
}

@keyframes cursor {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll-bottom-button {
    display: none;
}

.cursor-stream-blink::after {
    content: "●●●";
    vertical-align: baseline;
    margin-left: 0.25rem;
    padding: 0;
    -webkit-animation: cursor 1s steps(5, start) infinite;
    animation: cursor 1s steps(5, start) infinite;
}
