@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container-core {
        @apply flex h-screen w-screen flex-col items-stretch;
    }

    .sidebar-core {
        @apply w-72 overflow-auto border border-border  p-0 pt-2 transition-all duration-200;
    }

    /* main container max height (100vh - height of main header) */
    .content-main {
        @apply flex max-h-[calc(100vh-(var(--header-height)))] flex-1 items-stretch justify-between rounded-md border-border;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll-bottom-button {
    display: none;
}

.streaming-blinker::after {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
    content: "▋";
    margin-left: 0.25rem;
    padding: 0;
    vertical-align: baseline;
}

.markdown ol {
    counter-reset: item;
}

.markdown ul li {
    display: block;
    margin: 0;
    position: relative;
}

.markdown ul li:before {
    content: "•";
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: -1rem;
    position: absolute;
}

.markdown {
    max-width: none;
}

.markdown h1,
.markdown h2 {
    font-weight: 600;
}

.markdown h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.markdown h3 {
    font-weight: 600;
}

.markdown h3,
.markdown h4 {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.markdown h4 {
    font-weight: 400;
}

.markdown h5 {
    font-weight: 600;
}

.markdown blockquote {
    --tw-border-opacity: 1;
    border-color: rgba(142, 142, 160, var(--tw-border-opacity));
    border-left-width: 2px;
    line-height: 1rem;
    padding-left: 1rem;
}

.markdown ol,
.markdown ul {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.markdown ol li,
.markdown ol li > p,
.markdown ol ol,
.markdown ol ul,
.markdown ul li,
.markdown ul li > p,
.markdown ul ol,
.markdown ul ul {
    margin: 0;
}

.markdown table {
    --tw-border-spacing-x: 0px;
    --tw-border-spacing-y: 0px;
    border-collapse: separate;
    border-spacing: var(--tw-border-spacing-x) var(--tw-border-spacing-y);
    width: 100%;
}

.markdown th {
    /* background-color: rgba(236, 236, 241, 0.2); */
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-width: 1px;
    padding: 0.25rem 0.75rem;
}

.markdown th:first-child {
    border-top-left-radius: 0.375rem;
}

.markdown th:last-child {
    border-right-width: 1px;
    border-top-right-radius: 0.375rem;
}

.markdown td {
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding: 0.25rem 0.55rem;
}

.markdown td:last-child {
    border-right-width: 1px;
}

.markdown tbody tr:last-child td:first-child {
    border-bottom-left-radius: 0.375rem;
}

.markdown tbody tr:last-child td:last-child {
    border-bottom-right-radius: 0.375rem;
}

.markdown a {
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

pre:has(div.codeblock) {
    padding: 0;
}

code,
pre {
    font-family:
        Söhne Mono,
        Monaco,
        Andale Mono,
        Ubuntu Mono,
        monospace !important;
    font-weight: inherit;
    font-size: 14px !important;
}

/* * {
    outline: solid red 1px;
} */
